/* ------------------------------Responsive Media Query Added------------------------------ */

/* --------------------Mobile/Small Device Responsive Added-------------------- */

/* -----Navbar Mobile Responsive Added----- */
@media only screen and (max-width: 576px) {
  .section-container {
    margin: 25px 5px 20px 5px;
  }

  .nav-container {
    flex-direction: column;
  }
  .nav-links {
    margin-top: 20px;
  }

  /* -----Top Player and Blogs Section Mobile Responsive Added----- */
  .section-title {
    text-align: center;
  }

  /* -----Top Player Mobile Responsive Added----- */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  /* -----Top Player Mobile Responsive Added----- */
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  /* -----Latest Courses Mobile Responsive Added----- */
  .latest-courses-container {
    margin: 25px 5px 20px 5px;
  }
  .latest-courses {
    padding: 5px;
  }
  .courses {
    grid-template-columns: 1fr;
  }
  .course-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}

/* --------------------Tablet/Medium Device Responsive Added-------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* -----Tablet/Medium and Desktop/Large Same Responsive----- */
}
